/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'FredokaOne-Regular';
  src:font-url('FredokaOne-Regular.eot');
  src:font-url('FredokaOne-Regular.eot?#iefix') format('embedded-opentype'),
  font-url('FredokaOne-Regular.svg#FredokaOne-Regular') format('svg'),
  font-url('FredokaOne-Regular.woff') format('woff'),
  font-url('FredokaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #FF5882;
  font-family: FredokaOne-Regular;
}

h1 {
  color: orange;
  font-family: cursive;
  font-size: 52px;
  vertical-align: top;
}

.spark {
  height: 100px;
}

.logo {
  margin-top: 50px;
}

.images {
  border-radius: 10px;
  border: 5px solid #D53A62;
  background-color: white;
  margin: 0 90px;
  margin-top: 80px;
  padding: 20px;
}

#take-a-guess {
  margin-top: 300px;

  * {
    display: inline;
  }

  p {
    margin: 0 30px 0 30px;
    font-size: 48px;
    color: #FFFFFF;
    vertical-align: top;
  }
}

#main {
  text-align: center;
}

h2 {
    font-size: 80px;
    margin-bottom: 30px;
    color: #F8E71C;
    margin-top: 150px;
}

p.hidden {
  color: #ffffff;
  font-size: 16px;
}

p.hint {
  padding-right: 10px;
  padding-top: 20px;
  font-size: 16px;
}

p.guess {
  margin-top: 70px;
  font-weight: bold;
}

input {
  width: 300px;
}

label.phrase_text {
  font-size: 40px;
  display: none;
  margin-top: 20px;
}

img.word {
  width: 150px;
}

div.success, div.fail {
  display: none;
  img {
    width: 400px;
  }
}
